.calculator-type-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 69px;
  background: rgba(106, 233, 125, 0.15);
  border-radius: 10px;
}
.calculator-title-text-style {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 85.5%;
  padding: 0;
  padding-right: 48px;
  padding-left: 53px;
  margin: 0;
  font: 700 24px Manrope, sans-serif;
  color: #164026;
  white-space: pre-wrap;
}
.calculator-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 14.5%;
  height: 69px;
  padding-right: 15px;
  padding-left: 15px;
}
.svg-container {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  color: #164026;
}
.svg-container1 {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
}
