.green-box-with-text1 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 20px 191px 37px 44px;
  background: #4ab85b;
  border-radius: 20px;
}
.primary-heading {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 700 24px Manrope, sans-serif;
  color: white;
}
.high-impact-text {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-top: 4px;
  font: 700 48px Manrope, sans-serif;
  color: white;
}
