.calculator-container1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.add-calculator-button {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  align-self: flex-end;
  width: 368px;
  min-width: 368px;
  height: 65px;
  margin-top: 36px;
  font: 700 24px Manrope, sans-serif;
  color: white;
  cursor: pointer;
  background: #164026;
  border: none;
  border-radius: 10px;
}
