.calculator-app-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1440px;
  background: white;
}
.green-header-bar {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 40px;
  background: #4ab85b;
}
